# `FRE 521D_Assignment 2_Group 3`
### Members: Janine, Juliette, Margaret & Clare

## Task 1: Pipeline Architecture Design

### (a) Data Flow Diagram

The ETL pipeline follows a layered Extract–Transform–Load–Aggregate architecture as illustrated in Figure 1.
Weather data is extracted from the Open-Meteo Historical Weather API using country centroid coordinates from a CSV file. The pipeline enforces rate limiting and retry logic to ensure reliable API access.

During the transformation stage, JSON responses are flattened, cleaned, validated, and standardized. The transformed data is then loaded into a daily weather table using upsert operations to prevent duplication.

Finally, daily weather data is aggregated into monthly and annual summary tables. These aggregated datasets are joined with crop production data to produce an integrated analytical view used for business analysis.

---
```
┌─────────────────────────────────────────────────────────────────────────────────────┐
│                        ETL PIPELINE ARCHITECTURE                                    │
├─────────────────────────────────────────────────────────────────────────────────────┤
│                                                                                     │
│  ┌─────────────┐     ┌─────────────┐      ┌─────────────┐      ┌─────────────┐      │
│  │   EXTRACT   │────>│  TRANSFORM  │─────>│    LOAD     │─────>│  AGGREGATE  │      │
│  └─────────────┘     └─────────────┘      └─────────────┘      └─────────────┘      │
│        │                   │                   │                   │                │
│        ▼                   ▼                   ▼                   ▼                │
│  ┌──────────────┐    ┌───────────┐       ┌──────────────┐    ┌───────────────────┐  │
│  │  Open-Meteo  │    │ Flatten   │       │daily_ Weather│    │ monthly_ weather  │  │
│  │   API        │    │ JSON      │       │ Table        │    │                   │  │
│  │              │    │           │       │              │    │- Monthly & Annual │  │
│  │ - Rate limit │    │ - Parse   │       │ - Upsert     │    │- Calculate Metrics│  │
│  │ - Retry      │    │ - Validate│       │ - Dedupe     │    │- Join with        │  │
│  │ - Country CSV│    │ - Clean   │       │ - Index      │    │  production data  │  │
│  └──────────────┘    └───────────┘       └──────────────┘    └───────────────────┘  │
│        │                   │                   │                       │            │
│        ▼                   ▼                   ▼───────────────────────▼───────┐    │
│     Raw Layer          Cleaned Layer        Aggregate Layers           │       │    │
│        │                   │                   │                       │       │    │
│        ▼                   ▼                   ▼                       ▼       ▼    │
│  ┌───────────┐       ┌───────────┐       ┌───────────┐  ┌────────────────────────┐  │
│  │  Logging  │       │  Logging  │       │  Logging  │  │        Logging         │  │
│  │ - Success │       │ - Records │       │ - Inserts │  │- weather & crop Data   │  │
│  │ - Errors  │       │ - Nulls   │       │ - Commits │  │- Country + Year level  │  │
│  │ - Timing  │       │ - Types   │       │ - Errors  │  │    ┌───────────────┐   │  │
│  └───────────┘       └───────────┘       └───────────┘  └────│ANALYSIS READY │───┘  │
│                                                              └───────────────┘      │
└─────────────────────────────────────────────────────────────────────────────────────┘
```
**Figure 1:** ETL pipeline data flow illustrating extraction from the Open-Meteo API, transformation through raw and cleaned layers, aggregation, and integration with crop production data.

```
┌─────────────────────────────────────────────────────────────────────┐
│                    TABLE RELATIONSHIPS                              │
├─────────────────────────────────────────────────────────────────────┤
│                                                                     │
│   A-1 TABLES                         A-2 TABLES                     │
│   ──────────                         ──────────                     │
│                                                                     │
│   ┌──────────────┐                   ┌──────────────┐               │
│   │crop_production│                   │daily_weather │              │
│   │              │                   │              │               │
│   │ iso3_code ───┼───────────────────┼─ iso3_code   │               │
│   │ year      ───┼───┐               │ date         │               │
│   │ crop         │   │               └──────────────┘               │
│   │ production   │   │                      │                       │
│   │ yield        │   │                      │ Aggregate             │
│   └──────────────┘   │                      ▼                       │
│          │           │               ┌──────────────┐               │
│          │           │               │annual_weather│               │
│          │           │               │              │               │
│          │           └───────────────┼─ iso3_code   │               │
│          │                           │ year ────────┼───┐           │
│          │                           │ weather vars │   │           │
│          │                           └──────────────┘   │           │
│          │                                              │           │
│          │              JOIN ON                         │           │
│          │         iso3_code + year                     │           │
│          │                                              │           │
│          ▼                                              ▼           │
│   ┌─────────────────────────────────────────────────────────┐       │
│   │              climate_agriculture_analysis               │       │
│   │                   (Integrated View)                     │       │
│   │                                                         │       │
│   │  - Country attributes (name, region, income group)      │       │
│   │  - Crop metrics (production, yield, area, fertilizer)   │       │
│   │  - Climate metrics (temp, precip, GDD, extremes)        │       │
│   │  - Derived: water balance, temp bucket                  │       │
│   └─────────────────────────────────────────────────────────┘       │
│                                                                     │
└─────────────────────────────────────────────────────────────────────┘
```
**Figure 2:** Table relationships showing integration between Assignment 1 crop production tables and new weather tables using iso3_code and year.

### (b) Schema for New Weather Tables

The ETL pipeline introduces several new tables to store weather data:

**Daily Weather Table (`daily_weather`)**

Stores cleaned daily weather observations including:
- iso3_code
- date
- temperature metrics (mean, max, min)
- precipitation and rain totals
- evapotranspiration (ET0)

This table enforces uniqueness on (`iso3_code, date`) and serves as the cleaned data layer.

**Monthly Weather Table (`monthly_weather`)**

Stores monthly aggregated climate summaries by country and month.

**Annual Weather Table (`annual_weather`)**

Stores annual aggregated climate indicators by country and year, including derived metrics such as:
- Growing Degree Days (GDD)
- Precipitation variability
- Extreme temperature counts

### (c) Relationship to Assignment 1 Tables

Weather data is integrated with existing Assignment 1 crop production tables using shared temporal and geographic keys.

The `daily_weather` table is aggregated into the `annual_weather` table by iso3_code and year.

The `annual_weather` table is then joined with the `crop_production` table on:

**iso3_code + year**


This produces the integrated view `climate_agriculture_analysis`, which combines:
- Country attributes (name, region, income group)
- Crop metrics (production, yield, area, fertilizer use)
- Climate metrics (temperature, precipitation, GDD, extremes)

### (d) Error Handling and API Rate Limit Strategy

To ensure reliable data extraction, the pipeline implements:
- A minimum 5-second delay between API requests to comply with rate limits
- Retry logic with up to three attempts for failed requests
- Exponential backoff between retries

Errors, failures, and processing times are logged at each ETL stage to allow monitoring and troubleshooting.

### (e) Data Lineage and Logging

The pipeline tracks data lineage through both metadata storage and operational logging.

Each extracted weather record includes:
- Source identifier (Open-Meteo API)
- Extraction timestamp

Logging is implemented across the ETL process to capture:
- Extraction success or failure
- Record counts
- Data validation results (nulls and type issues)
- Load confirmations and database errors

This ensures transparency, reproducibility, and quality control throughout the pipeline.

## Task 2: ETL Pipeline Implementation

Our Task 2 work plan:

1. Extract : CSV ingestion, API ingestion, Rate limiting, Logging
2. Tranform : JSON flattening, Raw layer, Cleaned layer, Type enforcement, Validation
3. Load : Table creation, Constraints (CHECK + PK), Batch UPSERT loading, Verification

In [53]:
# ============================================
# ETL PIPELINE SETUP
# ============================================

# Standard imports for ETL work
import pandas as pd
import numpy as np
import requests
import json
import time
import os
from datetime import datetime
from sqlalchemy import text


# For database connection 
from sqlalchemy import create_engine

# Load the SQL magic extension
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%config SqlMagic.autopandas = False
%sql mysql+pymysql://mfre521d_user:mfre521d_user_pw@127.0.0.1:3306/mfre521d

# Display settings 
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

print(f"Pandas version: {pd.__version__}")
print(f"Current time: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print("Setup complete!")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Pandas version: 2.3.3
Current time: 2026-01-30 06:44:57
Setup complete!

In [2]:
# ============================================
# DATABASE CONNECTION
# ============================================

# Database connection parameters
DB_USER = "mfre521d_user"
DB_PASSWORD = "mfre521d_user_pw"
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "mfre521d"

# Create connection string
connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Connect SQL magic
%sql {connection_string}

print("Connection established!")

Connection established!

In [ ]:
def run_query(sql):
    return pd.read_sql(sql, engine)

SyntaxError: invalid syntax (4140870282.py, line 4)

In [56]:
%%sql

SELECT 'Connection successful!' AS status, NOW() AS current_ts;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
1 rows affected.

[('Connection successful!', datetime.datetime(2026, 1, 30, 14, 45, 44))]

In [3]:
# ============================================
# LOAD COUNTRY CENTROIDS CSV SAFELY
# ============================================

def read_csv_safely(filepath):
    """
    Read CSV with full control (lecture style).
    Returns all columns as strings for safe processing.
    """
    df = pd.read_csv(
        filepath,
        dtype=str,               # everything as string
        keep_default_na=False,  # no auto converting NA values
        encoding='utf-8',
        low_memory=False
    )
    
    print(f"Loaded {len(df)} rows and {len(df.columns)} columns from {filepath}")
    return df


# Load centroid file 
centroids_path = "../data/country_centroids.csv"
df_centroids_raw = read_csv_safely(centroids_path)

# Quick inspection 
print("\nColumn names:")
print(df_centroids_raw.columns.tolist())

print("\nFirst 5 rows:")
df_centroids_raw.head()

Loaded 34 rows and 5 columns from ../data/country_centroids.csv

Column names:
['iso3_code', 'country_name', 'latitude', 'longitude', 'hemisphere']

First 5 rows:

  iso3_code   country_name  latitude  longitude hemisphere
0       USA  United States   39.8283   -98.5795   Northern
1       CAN         Canada   56.1304  -106.3468   Northern
2       MEX         Mexico   23.6345  -102.5528   Northern
3       BRA         Brazil   -14.235   -51.9253   Southern
4       ARG      Argentina  -38.4161   -63.6167   Southern

In [4]:
# ============================================
# OPEN-METEO API EXTRACTION FUNCTION
# ============================================

BASE_URL = "https://archive-api.open-meteo.com/v1/archive"

# Variables required 
WEATHER_VARS = [
    "temperature_2m_mean",
    "temperature_2m_max",
    "temperature_2m_min",
    "precipitation_sum",
    "rain_sum",
    "et0_fao_evapotranspiration"
]

START_DATE = "2015-01-01"
END_DATE = "2023-12-31"


def fetch_weather_data(lat, lon, start_date, end_date, max_retries=3):
    """
    Fetch historical daily weather data from Open-Meteo API.
    Implements retry logic and error handling (lecture style).
    """
    
    params = {
        "latitude": lat,
        "longitude": lon,
        "start_date": start_date,
        "end_date": end_date,
        "daily": ",".join(WEATHER_VARS),
        "timezone": "UTC"
    }
    
    attempt = 0
    
    while attempt < max_retries:
        try:
            response = requests.get(BASE_URL, params=params)
            
            print(f"Request URL: {response.url}")
            print(f"Status Code: {response.status_code}")
            
            if response.status_code == 200:
                return response.json()
            
            else:
                print(f"API error (attempt {attempt+1}): {response.status_code}")
        
        except Exception as e:
            print(f"Request failed (attempt {attempt+1}): {e}")
        
        # Exponential backoff
        wait_time = 2 ** attempt
        print(f"Retrying after {wait_time} seconds...")
        time.sleep(wait_time)
        
        attempt += 1
    
    print("Max retries reached. Returning None.")
    return None

In [5]:
# ============================================
# TESTING API CALL WITH ONE COUNTRY
# ============================================

# Pick first country (USA)
test_row = df_centroids_raw.iloc[0]

test_lat = test_row['latitude']
test_lon = test_row['longitude']
test_country = test_row['iso3_code']

print(f"Testing API for country: {test_country}")

test_data = fetch_weather_data(
    lat=test_lat,
    lon=test_lon,
    start_date=START_DATE,
    end_date=END_DATE
)

# Inspect structure
if test_data:
    print("\nTop-level keys:")
    print(test_data.keys())
    
    print("\nDaily data keys:")
    print(test_data['daily'].keys())
    
    print("\nFirst 5 dates:")
    print(test_data['daily']['time'][:5])

Testing API for country: USA
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=39.8283&longitude=-98.5795&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200

Top-level keys:
dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'daily_units', 'daily'])

Daily data keys:
dict_keys(['time', 'temperature_2m_mean', 'temperature_2m_max', 'temperature_2m_min', 'precipitation_sum', 'rain_sum', 'et0_fao_evapotranspiration'])

First 5 dates:
['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04', '2015-01-05']

In [6]:
# ============================================
# FLATTEN WEATHER API JSON INTO TABULAR FORMAT
# ============================================
def flatten_weather_json(weather_json, iso3_code, verbose=False):
    """
    Convert API JSON daily data into tabular format.
    Adds country code and metadata.
    """

    # Extract daily section
    daily_data = weather_json['daily']

    # Build dataframe
    df_raw = pd.DataFrame({
        "iso3_code": iso3_code,
        "date": daily_data['time'],
        "temperature_mean": daily_data['temperature_2m_mean'],
        "temperature_max": daily_data['temperature_2m_max'],
        "temperature_min": daily_data['temperature_2m_min'],
        "precipitation": daily_data['precipitation_sum'],
        "rain": daily_data['rain_sum'],
        "evapotranspiration": daily_data['et0_fao_evapotranspiration']
    })

    # Add metadata
    df_raw['source'] = 'Open-Meteo API'
    df_raw['extracted_at'] = datetime.now()

    if verbose:
        print(f"Created raw dataframe with {len(df_raw)} rows for {iso3_code}")

    return df_raw

In [7]:
# ============================================
# TEST FLATTENING FUNCTION
# ============================================

df_raw_test = flatten_weather_json(test_data, test_country, verbose=True)

print("\nRaw dataframe shape:")
print(df_raw_test.shape)

print("\nFirst 5 rows:")
df_raw_test.head()

Created raw dataframe with 3287 rows for USA

Raw dataframe shape:
(3287, 10)

First 5 rows:

,iso3_code,date,temperature_mean,temperature_max,temperature_min,precipitation,rain,evapotranspiration,source,extracted_at
0,USA,2015-01-01,-7.7,0.6,-12.1,0.0,0.0,1.10,Open-Meteo API,2026-01-29 19:05:03.388787
1,USA,2015-01-02,-4.3,2.0,-8.8,0.0,0.0,1.11,Open-Meteo API,2026-01-29 19:05:03.388787
2,USA,2015-01-03,-2.5,4.0,-5.3,0.3,0.0,0.97,Open-Meteo API,2026-01-29 19:05:03.388787
3,USA,2015-01-04,-12.2,-6.6,-16.3,4.1,0.0,0.84,Open-Meteo API,2026-01-29 19:05:03.388787
4,USA,2015-01-05,-10.0,-3.8,-13.6,0.0,0.0,0.76,Open-Meteo API,2026-01-29 19:05:03.388787

In [8]:
# ============================================
# EXTRACT WEATHER DATA FOR ALL COUNTRIES 
# ============================================

all_raw_data = []

start_time = datetime.now()

for idx, row in df_centroids_raw.iterrows():
    
    iso3 = row['iso3_code']
    lat = row['latitude']
    lon = row['longitude']

    # Fetch weather data
    weather_json = fetch_weather_data(
        lat=lat,
        lon=lon,
        start_date=START_DATE,
        end_date=END_DATE
    )
    
    if weather_json is not None:
        df_raw_country = flatten_weather_json(weather_json, iso3)
        all_raw_data.append(df_raw_country)

    # Rate limiting (5 seconds)
    time.sleep(5)

end_time = datetime.now()
print("ETL extraction completed.")
print(f"Countries processed: {len(all_raw_data)}")
print(f"Total runtime: {end_time - start_time}")

Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=39.8283&longitude=-98.5795&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=56.1304&longitude=-106.3468&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=23.6345&longitude=-102.5528&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-14.235&longitude=-51.9253&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-38.4161&longitude=-63.6167&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=51.1657&longitude=10.4515&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=51.1657&longitude=10.4515&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=51.1657&longitude=10.4515&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=46.2276&longitude=2.2137&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=46.2276&longitude=2.2137&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=46.2276&longitude=2.2137&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=55.3781&longitude=-3.436&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=48.3794&longitude=31.1656&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=55.7558&longitude=37.6173&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=38.9637&longitude=35.2433&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=35.8617&longitude=104.1954&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=20.5937&longitude=78.9629&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=20.5937&longitude=78.9629&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=20.5937&longitude=78.9629&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=36.2048&longitude=138.2529&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=36.2048&longitude=138.2529&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=36.2048&longitude=138.2529&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=35.9078&longitude=127.7669&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-0.7893&longitude=113.9213&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=15.87&longitude=100.9925&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=14.0583&longitude=108.2772&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=30.3753&longitude=69.3451&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=23.685&longitude=90.3563&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=23.685&longitude=90.3563&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=23.685&longitude=90.3563&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=21.9162&longitude=95.956&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=21.9162&longitude=95.956&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=21.9162&longitude=95.956&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=12.8797&longitude=121.774&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=28.3949&longitude=84.124&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=26.8206&longitude=30.8025&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=9.082&longitude=8.6753&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=9.145&longitude=40.4897&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-30.5595&longitude=22.9375&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-30.5595&longitude=22.9375&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-30.5595&longitude=22.9375&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-0.0236&longitude=37.9062&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-6.369&longitude=34.8888&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-6.369&longitude=34.8888&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=31.7917&longitude=-7.0926&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=1.3733&longitude=32.2903&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-13.2543&longitude=34.3015&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=17.5707&longitude=-3.9962&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 200
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-25.2744&longitude=133.7751&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 1): 429
Retrying after 1 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-25.2744&longitude=133.7751&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 2): 429
Retrying after 2 seconds...
Request URL: https://archive-api.open-meteo.com/v1/archive?latitude=-25.2744&longitude=133.7751&start_date=2015-01-01&end_date=2023-12-31&daily=temperature_2m_mean%2Ctemperature_2m_max%2Ctemperature_2m_min%2Cprecipitation_sum%2Crain_sum%2Cet0_fao_evapotranspiration&timezone=UTC
Status Code: 429
API error (attempt 3): 429
Retrying after 4 seconds...
Max retries reached. Returning None.
ETL extraction completed.
Countries processed: 26
Total runtime: 0:04:44.182887

In [9]:
# ============================================
# COMBINE ALL RAW DATA
# ============================================

df_raw_all = pd.concat(all_raw_data, ignore_index=True)

print("\nCombined raw dataset shape:")
print(df_raw_all.shape)

print("\nSample rows:")
df_raw_all.head()

Combined raw dataset shape:
(85462, 10)

Sample rows:

,iso3_code,date,temperature_mean,temperature_max,temperature_min,precipitation,rain,evapotranspiration,source,extracted_at
0,USA,2015-01-01,-7.7,0.6,-12.1,0.0,0.0,1.10,Open-Meteo API,2026-01-29 19:05:04.336044
1,USA,2015-01-02,-4.3,2.0,-8.8,0.0,0.0,1.11,Open-Meteo API,2026-01-29 19:05:04.336044
2,USA,2015-01-03,-2.5,4.0,-5.3,0.3,0.0,0.97,Open-Meteo API,2026-01-29 19:05:04.336044
3,USA,2015-01-04,-12.2,-6.6,-16.3,4.1,0.0,0.84,Open-Meteo API,2026-01-29 19:05:04.336044
4,USA,2015-01-05,-10.0,-3.8,-13.6,0.0,0.0,0.76,Open-Meteo API,2026-01-29 19:05:04.336044

In [10]:
# ============================================
#  CLEANED LAYER - TYPE CONVERSIONS
# ============================================

df_clean = df_raw_all.copy()

# Convert date column
df_clean['date'] = pd.to_datetime(df_clean['date'])

# Convert numeric columns
numeric_cols = [
    'temperature_mean',
    'temperature_max',
    'temperature_min',
    'precipitation',
    'rain',
    'evapotranspiration'
]

for col in numeric_cols:
    df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')

# Derive year and month
df_clean['year'] = df_clean['date'].dt.year
df_clean['month'] = df_clean['date'].dt.month

print("Type conversion completed!")

print("\nData types:")
print(df_clean.dtypes)

Type conversion completed!

Data types:
iso3_code                     object
date                  datetime64[ns]
temperature_mean             float64
temperature_max              float64
temperature_min              float64
precipitation                float64
rain                         float64
evapotranspiration           float64
source                        object
extracted_at          datetime64[us]
year                           int32
month                          int32
dtype: object

In [11]:
# ============================================
# NULL VALUE CHECKS
# ============================================

print("\nNull counts per column:")
print(df_clean.isnull().sum())

Null counts per column:
iso3_code             0
date                  0
temperature_mean      0
temperature_max       0
temperature_min       0
precipitation         0
rain                  0
evapotranspiration    1
source                0
extracted_at          0
year                  0
month                 0
dtype: int64

In [12]:
# ============================================
# BASIC RANGE VALIDATION
# ============================================

print("\nTemperature range:")
print(df_clean[['temperature_min', 'temperature_mean', 'temperature_max']].describe())

print("\nPrecipitation range:")
print(df_clean['precipitation'].describe())

print("\nEvapotranspiration range:")
print(df_clean['evapotranspiration'].describe())

Temperature range:
       temperature_min  temperature_mean  temperature_max
count     85462.000000      85462.000000     85462.000000
mean         13.793030         18.415359        23.533088
std          10.086797         10.165370        10.637013
min         -42.500000        -37.900000       -33.900000
25%           7.600000         12.700000        18.100000
50%          17.000000         22.000000        27.100000
75%          21.100000         25.600000        30.600000
max          32.500000         38.200000        45.200000

Precipitation range:
count    85462.000000
mean         3.158938
std          8.213254
min          0.000000
25%          0.000000
50%          0.100000
75%          2.600000
max        316.700000
Name: precipitation, dtype: float64

Evapotranspiration range:
count    85461.000000
mean         4.074238
std          2.202667
min          0.030000
25%          2.540000
50%          4.050000
75%          5.360000
max         15.330000
Name: evapotranspiration, dtype: float64

In [13]:
# ============================================
# CHECK EXISTING TABLES IN SQL DATABASE
# ============================================

query = "SHOW TABLES;"

df_tables = pd.read_sql(query, engine)

print("Tables in database:")
print(df_tables)

Tables in database:
              Tables_in_mfre521d
0                   AirQuality_2
1           air_quality_readings
2                 annual_weather
3   climate_agriculture_analysis
4                      countries
5           country_name_mapping
6                crop_production
7                          crops
8                  daily_summary
9                  daily_weather
10                food_nutrition
11               monthly_summary
12               monthly_weather
13          pollution_thresholds
14                   sensor_info
15         temperature_anomalies
16          temperature_readings
17            validated_readings
18              weather_stations

In [14]:
# ============================================
# CREATE DAILY_WEATHER TABLE
# ============================================

create_daily_weather_table = """
CREATE TABLE IF NOT EXISTS daily_weather (
    iso3_code VARCHAR(3) NOT NULL,
    date DATE NOT NULL,

    temperature_mean FLOAT,
    temperature_max FLOAT,
    temperature_min FLOAT,
    precipitation FLOAT,
    rain FLOAT,
    evapotranspiration FLOAT,

    source VARCHAR(50),
    extracted_at DATETIME,

    year INT,
    month INT,

    -- Primary Key for idempotency
    PRIMARY KEY (iso3_code, date),

    -- Basic validation constraints
    CHECK (year BETWEEN 2015 AND 2023),
    CHECK (month BETWEEN 1 AND 12),
    CHECK (precipitation >= 0),
    CHECK (rain >= 0),
    CHECK (evapotranspiration >= 0)
);
"""

with engine.connect() as connection:
    connection.execute(text(create_daily_weather_table))
    connection.commit()

print("daily_weather table created successfully!")

daily_weather table created successfully!

In [24]:
# ============================================
# UPSERT QUERY FOR DAILY_WEATHER
# ============================================

insert_daily_weather = """
INSERT INTO daily_weather (
    iso3_code,
    date,
    temperature_mean,
    temperature_max,
    temperature_min,
    precipitation,
    rain,
    evapotranspiration,
    source,
    extracted_at,
    year,
    month
)
VALUES (
    :iso3_code,
    :date,
    :temperature_mean,
    :temperature_max,
    :temperature_min,
    :precipitation,
    :rain,
    :evapotranspiration,
    :source,
    :extracted_at,
    :year,
    :month
)
ON DUPLICATE KEY UPDATE
    temperature_mean = VALUES(temperature_mean),
    temperature_max = VALUES(temperature_max),
    temperature_min = VALUES(temperature_min),
    precipitation = VALUES(precipitation),
    rain = VALUES(rain),
    evapotranspiration = VALUES(evapotranspiration),
    source = VALUES(source),
    extracted_at = VALUES(extracted_at),
    year = VALUES(year),
    month = VALUES(month);
"""

In [ ]:
# ============================================
# LOAD CLEANED DATA INTO DATABASE 
# ============================================

# --- Make SQL-friendly types ---
df_sql = df_clean.copy()

# DATE column: Python date (not pandas Timestamp)
df_sql["date"] = pd.to_datetime(df_sql["date"]).dt.date

# extracted_at: Python datetime
df_sql["extracted_at"] = pd.to_datetime(df_sql["extracted_at"]).dt.to_pydatetime()

# Convert to object dtype so None is preserved for null values (not converted back to NaN)
df_sql = df_sql.astype(object)

# Replace all pandas/numpy missing values with None -> MySQL NULL
df_sql = df_sql.where(pd.notnull(df_sql), None)
batch_size = 1000
total_rows = len(df_sql)

print(f"Loading {total_rows} rows into daily_weather...")

with engine.begin() as connection:
    for start in range(0, total_rows, batch_size):
        end = start + batch_size
        batch = df_sql.iloc[start:end].to_dict(orient="records")
        connection.execute(text(insert_daily_weather), batch)

print("Data loading completed successfully!")

/var/folders/xc/2zzn21594vsft_yg1c2_dtqh0000gn/T/ipykernel_2682/4002081182.py:12: FutureWarning: The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result
  df_sql["extracted_at"] = pd.to_datetime(df_sql["extracted_at"]).dt.to_pydatetime()

Loading 85462 rows into daily_weather...
Data loading completed successfully!

In [28]:
# ============================================
# VERIFY LOAD
# ============================================

check_query = "SELECT COUNT(*) AS row_count FROM daily_weather;"

df_check = pd.read_sql(check_query, engine)

print(df_check)

   row_count
0     111758

In [29]:
# ============================================
#  DAILY_WEATHER TABLE PREVIEW
# ============================================

preview_query = "SELECT * FROM daily_weather LIMIT 5;"

df_preview = pd.read_sql(preview_query, engine)

df_preview

,iso3_code,date,temperature_mean,temperature_max,temperature_min,precipitation,rain,evapotranspiration,source,extracted_at,year,month
0,ARG,2015-01-01,17.7,20.7,14.3,0.0,0.0,5.86,Open-Meteo API,2026-01-29 19:05:30,2015,1
1,ARG,2015-01-02,17.4,24.0,10.8,0.0,0.0,6.11,Open-Meteo API,2026-01-29 19:05:30,2015,1
2,ARG,2015-01-03,21.5,28.5,16.2,0.0,0.0,7.98,Open-Meteo API,2026-01-29 19:05:30,2015,1
3,ARG,2015-01-04,20.0,30.3,10.9,0.0,0.0,7.71,Open-Meteo API,2026-01-29 19:05:30,2015,1
4,ARG,2015-01-05,28.1,36.4,21.9,0.3,0.3,9.25,Open-Meteo API,2026-01-29 19:05:30,2015,1

## Task 3: Data Aggregation and Integration

#### Create Aggregated Views for Monthly & Annual Weather Summaries (by country)

In [90]:
%%sql
-- Create aggregated views for monthly weather by country

DROP VIEW IF EXISTS monthly_weather;
CREATE VIEW monthly_weather AS
SELECT
    dw.iso3_code,
    dw.year,
    dw.month,

    COUNT(*) AS n_days,

    -- Temp (C)
    AVG(dw.temperature_mean) AS temperature_mean_mon,
    MAX(dw.temperature_max) AS temperature_max_mon,
    MIN(dw.temperature_min) AS temperature_min_mon,

    -- Precipitation
    SUM(dw.precipitation) AS precipitation_mon,
    SUM(dw.rain) AS rain_mon,
    SUM(dw.evapotranspiration) AS evapotranspiration_mon,

    -- Derived Metrics
    SUM(GREATEST(dw.temperature_mean - 10, 0)) AS gdd_mon,
    STDDEV_SAMP(dw.precipitation) AS precipitation_sd_mon,
    SUM(
    CASE
        WHEN dw.temperature_max >= 35
        OR dw.temperature_min <= 0
        THEN 1
        ELSE 0
    END) AS extreme_temp_days_mon
    
FROM daily_weather dw
GROUP BY
    dw.iso3_code,
    dw.year,
    dw.month;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
0 rows affected.
0 rows affected.

[]

In [91]:
%%sql 

-- Preview monthly_weather view

SELECT * FROM monthly_weather LIMIT 5;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
5 rows affected.

[('ARG', 2015, 1, 31, 23.564516190559633, 36.4, 10.5, 24.49999949336052, 24.49999949336052, 224.99999856948853, 420.50000190734863, 2.0301649455010664, Decimal('1')),
 ('ARG', 2015, 2, 28, 22.32857138769967, 33.1, 10.7, 105.00000034272671, 105.00000034272671, 154.66000199317932, 345.1999988555908, 8.053225685947822, Decimal('0')),
 ('ARG', 2015, 3, 31, 21.299999944625363, 33.3, 7.7, 31.100000001490116, 31.100000001490116, 138.50999999046326, 350.29999828338623, 2.941709714135207, Decimal('0')),
 ('ARG', 2015, 4, 30, 16.976666577657063, 30.0, 6.8, 63.40000028163195, 63.40000028163195, 85.85000029206276, 209.2999973297119, 7.409441016807826, Decimal('0')),
 ('ARG', 2015, 5, 31, 13.441935400809012, 25.3, 2.5, 8.000000029802322, 8.000000029802322, 59.130000591278076, 113.39999675750732, 1.079127485154056, Decimal('0'))]

In [118]:
%%sql
-- Create aggregated views for annual weather by country

DROP VIEW IF EXISTS annual_weather;
CREATE VIEW annual_weather AS
SELECT
    dw.iso3_code,
    dw.year,

    COUNT(*) AS n_days,

    -- Temp (C)
    AVG(dw.temperature_mean) AS temperature_mean_yr,
    MAX(dw.temperature_max) AS temperature_max_yr,
    MIN(dw.temperature_min) AS temperature_min_yr,

    -- Precipitation
    SUM(dw.precipitation) AS precipitation_yr,
    SUM(dw.rain) AS rain_yr,
    SUM(dw.evapotranspiration) AS evapotranspiration_yr,

    -- Derived metrics
    SUM(GREATEST(dw.temperature_mean - 10, 0)) AS gdd_yr,
    STDDEV_SAMP(dw.precipitation) AS precipitation_sd_yr,
    SUM(
    CASE
        WHEN dw.temperature_max >= 35
        OR dw.temperature_min <= 0
        THEN 1
        ELSE 0
    END) AS extreme_temp_days_yr

FROM daily_weather dw
GROUP BY
    dw.iso3_code,
    dw.year;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
0 rows affected.
0 rows affected.

[]

In [119]:
%%sql 

-- Preview annual_weather view

SELECT * FROM annual_weather LIMIT 5;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
5 rows affected.

[('ARG', 2015, 365, 16.160821923164473, 38.6, -2.7, 481.69999822229147, 481.69999822229147, 1468.16000315547, 2400.8999996185303, 4.25614549115477, Decimal('13')),
 ('ARG', 2016, 366, 15.430327842144367, 37.4, -1.8, 640.3999985903502, 640.3999985903502, 1369.090000152588, 2248.1999883651733, 4.892452938506748, Decimal('13')),
 ('ARG', 2017, 365, 16.25013696984069, 37.8, -0.7, 636.7000013664365, 636.7000013664365, 1444.9100015163422, 2410.8999948501587, 5.83258680589989, Decimal('12')),
 ('ARG', 2018, 365, 16.403835635315883, 38.1, -2.3, 409.19999922811985, 409.19999922811985, 1514.3000038862228, 2545.800006866455, 3.2378715043956925, Decimal('23')),
 ('ARG', 2019, 365, 16.173698587286964, 36.7, -3.5, 341.39999904483557, 341.39999904483557, 1560.100000411272, 2455.6999855041504, 3.878644737566522, Decimal('15'))]

In [120]:
%%sql

-- Quality Check (monthly_weather)

DROP VIEW IF EXISTS monthly_weather_quality_checks;

CREATE VIEW monthly_weather_quality_checks AS
SELECT
    dw.iso3_code,
    dw.year,
    dw.month,
    COUNT(*) AS n_days,
    SUM(CASE WHEN dw.temperature_mean IS NULL THEN 1 ELSE 0 END) AS missing_temp_mean_days,
    SUM(CASE WHEN dw.precipitation  IS NULL THEN 1 ELSE 0 END) AS missing_precip_days
FROM daily_weather dw
GROUP BY
    dw.iso3_code,
    dw.year,
    dw.month;

-- Preview monthly_weather view

SELECT * FROM monthly_weather_quality_checks LIMIT 5;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
0 rows affected.
0 rows affected.
5 rows affected.

[('ARG', 2015, 1, 31, Decimal('0'), Decimal('0')),
 ('ARG', 2015, 2, 28, Decimal('0'), Decimal('0')),
 ('ARG', 2015, 3, 31, Decimal('0'), Decimal('0')),
 ('ARG', 2015, 4, 30, Decimal('0'), Decimal('0')),
 ('ARG', 2015, 5, 31, Decimal('0'), Decimal('0'))]

In [121]:
%%sql

-- Quality Check (annual_weather)

DROP VIEW IF EXISTS annual_weather_quality_checks;

CREATE VIEW annual_weather_quality_checks AS
SELECT
    dw.iso3_code,
    dw.year,
    COUNT(*) AS n_days,
    SUM(CASE WHEN dw.temperature_mean IS NULL THEN 1 ELSE 0 END) AS missing_temp_mean_days,
    SUM(CASE WHEN dw.precipitation  IS NULL THEN 1 ELSE 0 END) AS missing_precip_days
FROM daily_weather dw
GROUP BY
    dw.iso3_code,
    dw.year;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
0 rows affected.
0 rows affected.

[]

#### Create Integrated View (crop_production & annual_weather)

In [158]:
%%sql
DROP VIEW IF EXISTS crop_weather_integrated;

CREATE VIEW crop_weather_integrated AS
SELECT
    cp.country_id,
    c.country_name,
    c.iso3_code,
    c.region,
    c.income_group,
    cp.year,
    cp.crop_id,

    -- Crop outcomes/inputs
    cp.area_harvested_ha,
    cp.production_tonnes,
    cp.yield_kg_ha,
    cp.fertilizer_use_kg_ha,
    cp.irrigation_pct,
    cp.notes,

    -- Annual weather metrics
    aw.n_days,
    aw.temperature_mean_yr,
    aw.temperature_max_yr,
    aw.temperature_min_yr,
    aw.precipitation_yr,
    aw.rain_yr,
    aw.evapotranspiration_yr,
    aw.gdd_yr,
    aw.precipitation_sd_yr,
    aw.extreme_temp_days_yr
    
FROM crop_production cp
JOIN countries c
  ON cp.country_id = c.country_id
JOIN annual_weather aw
  ON aw.iso3_code = c.iso3_code
 AND aw.year = cp.year;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
0 rows affected.
0 rows affected.

[]

In [159]:
%%sql

-- Preview integrated view
SELECT * FROM crop_production LIMIT 5;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
5 rows affected.

[(1, 1990, 1, 1316340.0, 9954010.0, 7561.9, 93.01, 23.0, None),
 (1, 1990, 2, 3109820.0, 16759800.0, 5389.31, 101.2, 33.5, None),
 (1, 1990, 3, 4433170.0, 13023200.0, 2937.68, 88.06, 8.5, None),
 (1, 1990, 4, 4710050.0, 14925800.0, 3168.91, 113.43, 43.8, None),
 (1, 1991, 1, 1248610.0, 11071000.0, 8866.61, 89.27, 24.5, None)]

In [160]:
%%sql
SELECT
  COUNT(*) AS crop_rows,
  SUM(CASE WHEN aw.n_days IS NOT NULL THEN 1 ELSE 0 END) AS rows_with_weather,
  SUM(CASE WHEN aw.n_days IS NULL THEN 1 ELSE 0 END) AS rows_missing_weather,
  ROUND(100.0 * SUM(CASE WHEN aw.n_days IS NOT NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS pct_with_weather
FROM crop_production cp
JOIN countries c
  ON cp.country_id = c.country_id
LEFT JOIN annual_weather aw
  ON aw.iso3_code = c.iso3_code
 AND aw.year = cp.year;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
1 rows affected.

[(4187, Decimal('1106'), Decimal('3081'), Decimal('26.42'))]

In [161]:
%%sql

-- Confirm no missing data from 2015-2023
SELECT
  COUNT(*) AS crop_rows_2015plus,
  SUM(CASE WHEN aw.n_days IS NOT NULL THEN 1 ELSE 0 END) AS matched_rows,
  SUM(CASE WHEN aw.n_days IS NULL THEN 1 ELSE 0 END) AS unmatched_rows
FROM crop_production cp
JOIN countries c ON cp.country_id = c.country_id
LEFT JOIN annual_weather aw
  ON aw.iso3_code = c.iso3_code
 AND aw.year = cp.year
WHERE cp.year >= 2015;

 * mysql+pymysql://mfre521d_user:***@127.0.0.1:3306/mfre521d
   mysql+pymysql://mfre521d_user:***@localhost:3306/mfre521d
1 rows affected.

[(1106, Decimal('1106'), Decimal('0'))]

### Task 3 Documentation

#### Derived Metrics Assumptions

#### Growing Degree Days (GDD)
We derived GDD using the following recommended formula from Michigan State University Agricultural Research Center (see source below): GDD = Avg Daily Temp - Base Temp.
Base Temp Calculation: Common baselines for crops are 5 °C for cool-season plants and 10 °C for warm-season plants. Given the crop data is representative of mainly warm-weather crops (maize, soybeans, rice), we chose a single 10C base for consistency of analysis. Note that results may understate accumulated heat for wheat, which is a cool-season crop.
Source: https://www.canr.msu.edu/uploads/files/Research_Center/NW_Mich_Hort/General/CalculatingGrowingDegreeDays.pdf

#### Precipitation Variability
Derived as the sample standard deviation of daily precipitation within each country–year–month group (and country-year group for annual data)

#### Extreme Temperature Days
Extreme temperature days are defined as days with either unusually high temperatures (maximum ≥ 35°C) or freezing conditions (minimum ≤ 0°C).These thresholds are commonly used by the IPCC to capture heat stress and frost risk, respectively, and are applied consistently across countries to ensure comparability across heterogeneous climate regimes.
Source: https://www.ipcc.ch/report/ar6/wg1/chapter/chapter-12/ 


#### Integrated Crop & Weather View Assumptions
In constructing crop_weather_integrated, weather observations were matched to crop production records at the country+year level by using the countries lookup table to map each crop_production.country_id to the country ISO3 code, then joining annual_weather on (iso3_code, year).  This assumes (i) ISO3 codes uniquely and consistently identify countries across both datasets and that any boundary or coding changes over time are negligible for the analysis period, and (ii) annual weather metrics derived from the country centroid data are a reasonable proxy for nationwide growing conditions affecting reported production and yields. 

Crop production data are integrated with annual weather using an INNER JOIN on country (ISO3 code) and year. This approach restricts the integrated dataset to country–year observations with available weather data, ensuring that all retained crop records have complete corresponding climate information. Weather data are available only from 2015 onward; therefore, crop observations prior to 2015 are excluded from the integrated dataset.